# Dependencies
**/node_modules
.npm

# Build output
**/dist
**/.next
**/.turbo

# Version Control
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# Editor files
.vscode
.idea

# Operating System files
.DS_Store
Thumbs.db
